<%= render "shared/header" %>

<h1 class="function-title">必要部品登録</h1>

<%# 部品情報 %>
<%= render 'shared/part_information', part: @part %>
<%# /部品情報 %>

<%# 登録エリア %>
<div class="register-need-parts-area">
  <div>上記完成品/部品作成に必要な部品を登録してください</div>
  <div class="register-need-parts">
    <%= form_with model: @parts_relation, url: part_parts_relations_path(@part), local: true do |f| %>
      <%# エラー情報の表示 %>
      <%= render 'shared/error_messages', model: f.object %>
      <%# /エラー情報の表示 %>

      <div class="input-field">
        <%= f.label :child_id, "登録する部品：" %>
        <%= f.collection_select(:child_id, @parts, :id, :name, { include_blank: "---" }, class: "parts-relation__input") %><br>
      </div>

      <div class="input-field">
        <%= f.label :necessary_nums, "　　　必要数：" %>
        <%= f.text_field :necessary_nums, class: "parts-relation__input" %><br>
      </div>

      <%= f.submit "登録", class: "parts-relation__submit" %>
    <% end %>
  </div>
</div>
<%# /登録エリア %>

<%# 登録履歴の表示 %>
<div class="history-area">
  <div class="history-title">登録履歴</div>
  <table>
    <thead>
      <tr>
        <th>完成品名/部品名</th>
        <th>登録した必要な部品</th>
        <th>必要数</th>
        <th>最終更新日時</th>
      </tr>
    </thead>
    <tbody id="parts-history-data">
      <% @parts_relations.each do |parts_relation| %>
        <% part_p = Part.find(parts_relation.parent_id) %>
        <% part_c = Part.find(parts_relation.child_id) %>
        <tr>
          <td><%= part_p.name %></td>
          <td><%= part_c.name %></td>
          <td><%= parts_relation.necessary_nums %></td>
          <td><%= l parts_relation.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%# /登録履歴の表示 %>