<%= render 'shared/header' %>

<h1 class="function-title">完成品/部品編集</h1>

<%# 完成品/部品編集 %>
<div class="register-area">
  <%= form_with model: @part, url: part_path(@part), local: true do |f| %>
    <%# エラー情報を表示 %>
    <div class="error-alert" style="display:none;">
      <%= render 'shared/error_messages', model: f.object %>
    </div>
    <%# /エラー情報を表示 %>

    <div class="input-field">
      <%= f.label :name, "完成品名/部品名：" %>
      <%= f.text_field :name, placeholder: "完成品名or部品名" %><br>
    </div>

    <div class="input-field">
      <%= f.label :stock, "在庫数：" %>
      <%= f.text_field :stock, class: "input-nums" %>
    </div>

    <div class="input-field">
      <%= f.check_box :finished, id: "part_finished" %>
      <%= f.label :finished, "完成品の場合はチェックを入れてください" %>
    </div>

    <%= f.submit "更新" %>
  <% end %>
</div>
<%# /完成品/部品編集 %>