<%= render 'shared/header' %>

<h1 class="function-title">完成品/部品登録</h1>

<%# 完成品/部品登録 %>
<div class="register-area">
  <%= form_with model: @part, url: parts_path, id: "parts_register_form", local: true do |f| %>
    <%# エラー情報を表示 %>
    <div class="error-alert" id="error-messages-area" style="display:none;">
      <ul id="error-messages-lists"></ul>
    </div>
    <%# /エラー情報を表示 %>

    <div class="input-field">
      <%= f.label :name, "完成品名/部品名：" %>
      <%= f.text_field :name, placeholder: "完成品名or部品名", id: "part_name" %><br>
    </div>

    <div class="input-field">
      <%= f.label :stock, "在庫数：" %>
      <%= f.text_field :stock, class: "stock-input", id: "part_stock" %>
    </div>

    <div class="input-field">
      <%= f.check_box :finished, id: "part_finished" %>
      <%= f.label :finished, "完成品の場合はチェックを入れてください" %>
    </div>

    <%= f.submit "登録" %>
  <% end %>
</div>
<%# /完成品/部品登録 %>

<%# 登録履歴の表示 %>
<div class="parts-history">
  <div class="history-title">登録履歴</div>
  <table>
    <thead>
      <tr>
        <th>完成品名/部品名</th>
        <th>在庫数</th>
        <th>製品種別</th>
        <th>登録日時</th>
      </tr>
    </thead>
    <tbody id="parts-history-data">
      <% @parts.each do |part| %>
        <tr>
          <td><%= part.name %></td>
          <td class="parts-history-stock"><%= part.stock %></td>
          <% if part.finished? %>
            <td>完成品</td>
          <% else %>
            <td>部品</td>
          <% end %>
          <td><%= l part.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%# /登録履歴の表示 %>