<%= render 'shared/header' %>

<h1 class="function-title">完成品/部品詳細画面</h2>

<%# 完成品/部品詳細の表示 %>
<% if @errors&.any? %>
  <div class="error-alert">
    <ul>
      <% @errors.each do |error| %>
        <li class='error-message'>!<%= error %>!</li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <table class="history-area-details">
    <tr>
      <% if @part.finished? %>
        <th>完成品名</th>
      <% else %>
        <th>部品名</th>
      <% end %>
      <td class="history-area__data"><%= @part.name %></td>
    </tr>
    <tr>
      <th>在庫数</th>
      <td class="history-area__data">
        <%= form_with model: @part, url: stock_update_part_path(@part), local: true do |f| %>
          <%= f.text_field :stock, class: "input_style__stock" %>
          <%= f.submit "更新" %>
        <% end %>
        <%#= @part.stock %>
      </td>
    </tr>
    <tr>
      <th>最終更新日時</th>
      <td class="history-area__data"><%= l @part.updated_at %></td>
    </tr>
  </table>

  <div class="button-link__area">
    <div class="button-link">
      <%= link_to "編集", edit_part_path(@part) %>
    </div>
    <div class="button-link">
      <%= link_to "削除", part_path(@part), data: { turbo_method: :delete, turbo_confirm: "「#{@part.name}」を削除してもよろしいですか？" } %>
    </div>
    <%# 完成品/部品作成に必要な材料の計算結果を表示するリンク %>
    <div class="button-link calculate-button">
      <%= link_to "材料計算", calculate_part_path(@part) %>
    </div>
    <%# /完成品/部品作成に必要な材料の計算結果を表示するリンク %>
  </div>

</div>
<%# /完成品/部品詳細の表示 %>

<%# 完成品/部品作成に必要な部品及び材料の表示 %>
<div>
  <%# 必要な部品の表示 %>
  <div>
    <div class="history-area">
      <div class="history-head">
        <div>必要な部品一覧</div>
        <div class="button-link">
          <%= link_to '部品登録', new_part_parts_relations_path(@part) %>
        </div>
      </div>
      <% if flash[:errors_parts] %>
        <div class="error-alert">
          <ul>
            <% flash[:errors_parts].each do |error| %>
              <li class='error-message'>!<%= error %>!</li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @part.children.exists? %>
        <table>
          <thead>
            <tr>
              <th>完成品名/部品名</th>
              <th>必要数</th>
            </tr>
          </thead>
          <tbody id="parts-history-data">
            <% @part.children.each do |child| %>
              <tr>
                <td><%= child.name %></td>
                <td class="history-stock"><%= PartsRelation.find_by(parent_id: @part.id, child_id: child.id).necessary_nums %></td>
                <td class="no-border">
                  <div class="button-link__history">
                    <%= link_to "削除", part_parts_relations_path(@part, child_id: child.id),
                      data: { turbo_method: :delete, turbo_confirm: "「#{child.name}」を除外してもよろしいですか？" } %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>必要な部品は登録されていません</p>
      <% end %>
    </div>
  </div>
  <%# /必要な部品の表示 %>

  <%# 必要な材料の表示 %>
    <div class="history-area">
      <div class="history-head">
        <div>必要な材料一覧</div>
        <div class="button-link">
          <%= link_to '材料登録', new_part_need_materials_path(@part) %>
        </div>
      </div>
      <% if flash[:errors_materials] %>
        <div class="error-alert">
          <ul>
            <% flash[:errors_materials].each do |error| %>
              <li class='error-message'>!<%= error %>!</li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @part.need_materials.exists? %>
        <table>
          <thead>
            <tr>
              <th>完成品名/部品名</th>
              <th>必要な長さ</th>
              <th>必要数</th>
            </tr>
          </thead>
          <tbody id="parts-history-data">
            <% @part.need_materials.each do |need_material| %>
              <% material = Material.find_by(material_id: need_material.material_id, user_id: current_user.id) %>
              <tr>
                <td><%= material.display_combine %></td>
                <td>
                  <%= need_material.length %>
                  <% if need_material.length_option %>
                    <%= " / #{need_material.length_option}" %>
                  <% end %>
                </td>
                <td class="history-stock"><%= need_material.necessary_nums %></td>
                <td class="no-border">
                  <div class="button-link__history">
                    <%= link_to "削除", part_need_materials_path(@part, material_id: material.material_id),
                      data: { turbo_method: :delete, turbo_confirm: "「#{material.display_combine}」を除外してもよろしいですか？" } %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>必要な材料は登録されていません</p>
      <% end %>
    </div>
  </div>
  <%# /必要な材料の表示 %>
</div>
<%# /完成品/部品作成に必要な部品及び材料の表示 %>