<div class="edit-area">
  <h2 class="function-title">ユーザー情報の編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "name" %>
    </div>

    <%# 住所等 %>
    <div class="field">
      <%= f.label :post_code %><br />
      <%= f.text_field :post_code, autocomplete: "123-4567" %>
    </div>

    <div class="field">
      <%= f.label :prefecture_id %><br />
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name) %>
    </div>

    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city, autocomplete: "蒲郡市〇〇町××" %>
    </div>

    <div class="field">
      <%= f.label :house_number %><br />
      <%= f.text_field :house_number, autocomplete: "1-1" %>
    </div>

    <div class="field">
      <%= f.label :building %><br />
      <%= f.text_field :building, autocomplete: "□□ビルディング3階" %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number, autocomplete: "0123-456-789" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(変更したくない場合は空白のままにして下さい)</i><br />
      <%= f.password_field :password, placeholder: "新しいパスワード" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 文字以上の半角英数字で入力して下さい</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, placeholder: "新しいパスワード" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(変更を反映するには現在のパスワードを入力してください)</i><br />
      <%= f.password_field :current_password, placeholder: "現在のパスワード" %>
    </div>

    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% end %>

  <%= link_to "Back", :back %>

</div>