<h1 class="function-title">新規登録</h1>

<div class="register_area">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <%# 住所等 %>
    <div class="field">
      <%= f.label :post_code %><br />
      <%= f.text_field :post_code, autocomplete: "123-4567" %>
    </div>

    <div class="field">
      <%= f.label :prefecture_id %><br />
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name) %>
    </div>

    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city, autocomplete: "蒲郡市〇〇町××" %>
    </div>

    <div class="field">
      <%= f.label :house_number %><br />
      <%= f.text_field :house_number, autocomplete: "1-1" %>
    </div>

    <div class="field">
      <%= f.label :building %><br />
      <%= f.text_field :building, autocomplete: "□□ビルディング3階" %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number, autocomplete: "0123-456-789" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上の半角英数字)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
