<%= render 'shared/header' %>

<div class="title-area__user-show">
  <h1 class="function-title margin-right__title"><%= current_user.name %>さんのマイページ</h1>
  <%= link_to edit_user_registration_path, class: "edit-btn" do %>
    <%= image_tag "kkrn_icon_henshuu_6.png", width: "15", height: "15" %>
  <% end %>
  <div class="hidden-text", style="display: none;">ユーザーの編集</div>
</div>

<div class="details-area">
  <%# 完成品の一覧 %>
  <details class="products-details">
    <summary class="title-h2">完成品</summary>
    <% if @products == [] %>
      <p>完成品が登録されていません</p>
    <% else %>
      <div class="history-area-details">
        <table>
          <thead>
            <tr>
              <th>完成品名</th>
              <th>在庫数</th>
              <th>登録日時</th>
            </tr>
          </thead>
          <tbody id="parts-history-data">
            <% @products.each do |product| %>
              <tr>
                <td><%= link_to product.name, part_path(product) %></td>
                <td class="history-stock"><%= product.stock %></td>
                <td><%= l product.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </details>
  <%# /完成品の一覧 %>

  <%# 部品の一覧 %>
  <details class="parts-details">
    <summary class="title-h2">部品</summary>
    <% if @parts == [] %>
      <p>部品が登録されていません</p>
    <% else %>
      <div class="history-area-details">
        <table>
          <thead>
            <tr>
              <th>部品名</th>
              <th>在庫数</th>
              <th>登録日時</th>
            </tr>
          </thead>
          <tbody id="parts-history-data">
            <% @parts.each do |part| %>
              <tr>
                <td><%= link_to part.name, part_path(part) %></td>
                <td class="history-stock"><%= part.stock %></td>
                <td><%= l part.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </details>
  <%# /部品の一覧 %>
</div>

<div class="link-area">
  <div class="button-link">
    <%= link_to "材料一覧", materials_path %>
  </div>
</div>