<%= render 'shared/header' %>

<h1 class="function-title">材料一覧ページ</h1>

<div class="history-area no-border-top">
  <table>
    <thead>
      <tr>
        <th>材料</th>
        <th>長さ</th>
        <th>在庫数</th>
        <th>登録日時</th>
        <th>リンク</th>
      </tr>
    </thead>
    <tbody id="materials-history-data">
      <% @materials.each do |material| %>
        <tr>
          <td>
            <%= "#{material.material_type} / #{material.category} / #{material.thickness} / " %>
            <% if !material.width.nil? %>
              <%= "#{material.width} / " %>
            <% else %>
              <%= " --- / " %>
            <% end %>
            <% if material.option != "" %>
              <%= "#{material.option} /" %>
            <% else %>
              <%= " --- /" %>
            <% end %>
          </td>
          <td class="history-stock"><%= "#{material.length}" %></td>
          <td class="history-stock"><%= material.stock %></td>
          <td><%= l material.created_at %></td>
          <td>
            <div class="button-link__history-area">
              <div class="button-link__history">
                <%= link_to "編集", "#" %>
              </div>
              <span>/</span>
              <div class="button-link__history">
                <%= link_to "削除", "#" %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>