<%= render 'shared/header' %>

<h1 class="function-title">材料登録</h1>

<%# 材料登録 %>
<div class="register-area">
  <%= form_with model: @material, url: materials_path, id: "materials-register-form", local: true do |f| %>
    <%# エラー情報を表示 %>
    <div class="error-alert" id="error-messages-area" style="display:none;">
      <ul id="error-messages-lists"></ul>
      <%#= render 'shared/error_messages', model: f.object %>
    </div>
    <%# /エラー情報を表示 %>

    <div class="input-field">
      <%= f.label :material_type, "　　　材質：" %>
      <%= f.text_field :material_type, placeholder: "例) sus304", id: "material_material_type" %><br>
    </div>

    <div class="input-field">
      <%= f.label :category, "　　　種類：" %>
      <%= f.text_field :category, placeholder: "例) FB-C", id: "material_category" %><br>
    </div>

    <div class="input-field">
      <%= f.label :thickness, " 厚さ(mm)：" %>
      <%= f.text_field :thickness, placeholder: "例) 6", id: "material_thickness" %><br>
    </div>

    <div class="input-field">
      <%= f.label :width, "　 幅(mm)：" %>
      <%= f.text_field :width, placeholder: "例) 30", id: "material_width" %><br>
    </div>

    <div class="input-field">
      <%= f.label :option, "　　その他：" %>
      <%= f.text_field :option, placeholder: "例) 切断済み", id: "material_option" %><br>
    </div>

    <div class="input-field">
      <%= f.label :length, " 長さ(mm)：" %>
      <%= f.text_field :length, placeholder: "例) 5000", id: "material_length" %><br>
    </div>

    <div class="input-field">
      <%= f.label :stock, "在庫数(個)：" %>
      <%= f.text_field :stock, placeholder: "在庫数", id: "material_stock" %><br>
      ＊ 材料が半分だけ残っている時は「0.5」と入力することも可能です
    </div>

    <%= f.submit "送信" %>
  <% end %>
</div>
<%# /材料登録 %>

<%# 登録履歴の表示 %>
<div class="history-area">
  <div class="history-title">
    <div>登録履歴</div>
    <div class="button-link">
      <%= link_to "材料一覧", materials_path %>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>材料</th>
        <th>在庫数</th>
        <th>登録日時</th>
      </tr>
    </thead>
    <tbody id="materials-history-data">
      <% @materials.each do |material| %>
        <tr>
          <td>
            <%= "#{material.material_type} / #{material.category} / #{material.thickness} / " %>
            <% if !material.width.nil? %>
              <%= "#{material.width} / " %>
            <% else %>
              <%= " --- / " %>
            <% end %>
            <% if material.option != "" %>
              <%= "#{material.option} / " %>
            <% else %>
              <%= " --- / " %>
            <% end %>
            <%= "#{material.length}" %>
          </td>
          <td class="history-stock"><%= material.stock %></td>
          <td><%= l material.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%# /登録履歴の表示 %>